<%- label = local_assigns.fetch(:label, t('icons.minus')) %>
<%- title = local_assigns.fetch(:title) %>
<%- href = local_assigns.fetch(:href) %>
<%- method = local_assigns.fetch(:method, :put)%>
<%- disabled = local_assigns.fetch(:disabled, false)%>
<%- data = { turbo_method: method, turbo: true} %>
<%- data = data.merge(turbo_confirm: local_assigns[:confirm], confirm: local_assigns[:confirm]) if local_assigns.key?(:confirm) %>

<%- if !disabled %>
  <%= link_to label, href, title: title, method: method,
                data: data,
                class: 'no-underline bg-transparent hover:bg-stone-100 button' %>
<%- else %>
  <span class='no-underline bg-transparent hover:bg-stone-100 button'><%=label%></span>
<%- end %>
