<%= turbo_frame_tag(furniture, src: furniture.location, data: { turbo_action: :advance }) do %>
  <section>
    <header>
      <h2>
        <%= t('layouts.marketplace.header', space: furniture.space.name, room: furniture.room.name) %>
      </h2>
    </header>
    <div>
      <%= render furniture %>
    </div>
  </section>
<%- end %>
