<li class="text-gray-700 hover:text-purple-700">
  <a href="<%= polymorphic_url(location) %>" class="group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold no-underline">
    <%= icon %>
    <%= content %>
  </a>
</li>
