<% if !ready_for_shopping? && policy(marketplace).edit? %>
  <%= render AlertComponent.new(scheme: :warning, icon: :exclamation_triangle,
                                title: t('marketplace.marketplace.config_missing_title')) do %>
    <%= t('marketplace.marketplace.config_missing_explainer_html',
          edit_link: link_to(t('marketplace.marketplace.edit.link_to'), location(:edit)) ) %>
  <% end %>
<% end %>

<%= render cart %>

<%- if policy(marketplace).edit? %>
  <div class="my-2 text-right">
    <%= render ButtonComponent.new(scheme: :secondary, label: t('marketplace.marketplace.edit.link_to'),
                                   href: location(:edit), method: :get) %>
  </div>
<%- end %>
