
<%= render Marketplace::OnboardingComponent.new(marketplace: marketplace) %>

<%= render cart %>

<%- if policy(marketplace).edit? %>
  <div class="my-2 text-right">
    <%= render ButtonComponent.new(scheme: :secondary, label: t('marketplace.marketplace.edit.link_to'),
                                   href: location(:edit), method: :get) %>
  </div>
<%- end %>
