<%- marketplace.tags.menu_tag.by_position.each do |tag| %>
  <%- unless tag.products.empty? %>
    <h1><%= tag.label %></h1>
    <div class="grid lg:grid-cols-3 gap-3">
      <%- tag.products.with_all_rich_text.unarchived.sort_alpha.each do |product| %>
        <%= render Marketplace::Menu::ProductComponent.new(product:, cart:) %>
      <%- end %>
    </div>
  <%- end %>
<%- end %>
<h1>Other</h1>
<div class="grid lg:grid-cols-3 gap-3">
  <%- marketplace.products.unarchived.without_menu_tag.sort_alpha.each do |product| %>
    <%= render Marketplace::Menu::ProductComponent.new(product:, cart:) %>
  <%- end %>
</div>
