<%- menu_tags_ordered.each do |tag| %>
  <%- unless tag.products.empty? %>
    <h1><%= tag.label %></h1>
    <div class="grid lg:grid-cols-3 gap-3">
      <%- products_for_menu_tag(tag).each do |product| %>
        <%= render Marketplace::Menu::ProductComponent.new(product:, cart:) %>
      <%- end %>
    </div>
  <%- end %>
<%- end %>
<h1>Other</h1>
<div class="grid lg:grid-cols-3 gap-3">
  <%- all_other_products.each do |product| %>
    <%= render Marketplace::Menu::ProductComponent.new(product:, cart:) %>
  <%- end %>
</div>
