<%= render CardComponent.new(dom_id: dom_id(notification_method)) do |card| %>
  <%- card.with_header do %>
    <h3><%= contact_location %></h3>
  <%- end %>

  <%- card.with_footer(variant: :action_bar) do %>
    <%= render edit_button if edit_button? %>
    <%= render destroy_button if destroy_button?  %>
  <%- end %>
<%- end %>
