<%= render CardComponent.new(dom_id: dom_id(notification_method), classes: "flex flex-col justify-between gap-y-2 w-full") do %>
  <div class="font-bold">
    <%= contact_location %>
  </div>
  <footer class="mt-3 flex flex-row justify-between">
    <%= render edit_button if edit_button? %>
    <%= render destroy_button if destroy_button?  %>
  </footer>
<%- end %>
