<div class="room-card <%= "--#{room.access_level} --#{room.slug}"%>">
  <header>
    <h3><%= room.name %></h3>
    <%- if room.locked? %>
      <span class="fas fa-lock"></span>
    <%- end %>
    <%- if room.locked? && room.enterable?(current_access_code(room)) %>
      <span class="ml-2 fas fa-key"></span>
    <%- end %>
  </header>
  <footer>
    <div class="room-door_enter">
      <%= link_to space_room_path(room.space, room) do %>
        <span class=".icon --enter">Enter Room</span>
      <% end %>
    </div>

    <%- if Feature.enabled?(:configure_room) && policy(room).edit? %>
      <div class="room-door_configure">
        <%= link_to edit_space_room_path(room.space, room) do %>
          <span class="configure-icon">Configure Room</span>
        <% end %>
      </div>
    <% end %>
  </footer>
</div>
