<% breadcrumb :edit_space, space %>
<fieldset>
  <h3>Utility Hookups</h3>
  <%- space.utility_hookups.each do |utility_hookup| %>
    <%- if policy(utility_hookup).edit? %>
    <%= render partial: "utility_hookups/form", locals: { utility_hookup: utility_hookup } %>
    <%- end %>
  <%- end %>
</fieldset>


<fieldset>
  <h3>Rooms</h3>
  <ul>
    <%- space.rooms.each do |room| %>
      <li>
        <%= room.name %>
        <%- if policy(room).edit? %>
          <%= link_to edit_space_room_path(room.space, room) do %>
            <span class="icon --configure"></span>Configure
          <% end %>
        <%- end %>
        <%= link_to space_room_path(room.space, room) do %>
          <span class="icon --enter"></span>Enter
        <% end %>
      </li>
    <% end %>
  </ul>
</fieldset>