<% breadcrumb :edit_space, space %>

<fieldset>
  <h3>Rooms</h3>

    <%- space.rooms.each do |room| %>
      <%- if policy(room).edit? %>
        <p>
          <%= link_to edit_space_room_path(room.space, room) do %>
            <span class="icon --configure" role="img" aria-label="Configure"></span><%= room.name %>
          <% end %>
        </p>
      <%- end %>
    <% end %>
</fieldset>

<fieldset>
  <h3>Utility Hookups</h3>
  <%- space.utility_hookups.each do |utility_hookup| %>
    <%- if policy(utility_hookup).edit? %>
    <%= render partial: "utility_hookups/form", locals: { utility_hookup: utility_hookup } %>
    <%- end %>
  <%- end %>
</fieldset>