<div class="px-4 py-4 sm:px-6">
  <div class="flex items-center justify-between">
    <p class="text-sm font-medium text-primary-600 truncate">
      <%= space_membership.member.name || "Unknown" %>
    </p>
    <div class="ml-2 flex-shrink-0 flex text-sm text-gray-500 sm:mt-0">
      <p>
        Joined on
        <time datetime="2020-01-07">
          <%= space_membership.created_at %>
        </time>
      </p>
    </div>
  </div>
  <div class="mt-2 sm:flex sm:justify-between">
    <div class="sm:flex">
      <p class="flex items-center text-sm text-gray-500">
        <%= space_membership.member.email %>
      </p>
      <%= button_to t('icons.remove'),
          [space, space_membership],
          title: t('space_memberships.delete'),
          method: :delete,
          class: 'no-underline'
      %>
    </div>
  </div>
</div>
