# For file uploads
# AWS_S3_ACCESS_KEY_ID=
# AWS_S3_SECRET_ACCESS_KEY=
# AWS_S3_BUCKET=

# If you are using docker to manage your postgresql database,
# you will want to uncomment these
# PGHOST=localhost
# PGUSER=postgres
# PGPASSWORD=password


PORT=3000
# Used to build URLs in mailers
APP_ROOT_URL=http://127.0.0.1:3000
EMAIL_DEFAULT_FROM='Neighborhood Support <set-this-to-your-email@example.com>'

# Ensures the data in our database is fully encrypted
LOCKBOX_MASTER_KEY=0000000000000000000000000000000000000000000000000000000000000000

OPERATOR_API_KEY=a-secret-that-should-get-changed
STRIPE_API_KEY=get-this-from-your-stripe-account

NEIGHBORHOOD_TIME_ZONE="Pacific Time (US & Canada)"
