.DS_Store
node_modules
.terraform
*.tfstate*
*secrets.tfvars
.env
.env.production

# gitignore for convene-web
convene-web/log
convene-web/tmp/*
convene-web/node_modules/
convene-web/public/packs/
*master.key
*credentials.yml.enc
*.log*
*log/

features/test_reports/*.png
