<%- shopper = if current_person.is_a?(Guest)
     Marketplace::Shopper.find_or_create_by(id: session[:current_cart] ||= SecureRandom.uuid)
  else
    Marketplace::Shopper.find_or_create_by(person: current_person)
end %>

<%- cart = marketplace.carts.find_or_create_by(shopper: shopper) %>

<%= render cart %>

<div class="m-2 text-center">
  <%- if policy(marketplace.products.new).create? %>
    <%= link_to t('.manage_products'), marketplace.location(:products) %>
  <%- end %>
</div>
