<%- shopper = if current_person.is_a?(Guest)
     Marketplace::Shopper.find_or_create_by(id: session[:guest_shopper_id] ||= SecureRandom.uuid)
  else
    Marketplace::Shopper.find_or_create_by(person: current_person)
end %>

<%- cart = marketplace.carts.create_with(contact_email: shopper.person&.email, delivery_window: marketplace.delivery_window).find_or_create_by(shopper: shopper, status: :pre_checkout) %>

<%= render cart.delivery %>
<%= render cart %>

<div class="m-2 text-center">
  <%- if policy(marketplace).edit? %>
    <%= render Buttons::SecondaryComponent.new(
      label: t('marketplace.marketplace.edit'), href: marketplace.location(:edit), method: :get) %>
  <%- end %>

  <%- if policy(marketplace.orders).index? %>
  <%= link_to t('marketplace.order.index'), marketplace.location(child: :orders) %>
  <%- end %>
</div>
