<%- shopper = if current_person.is_a?(Guest)
     Marketplace::Shopper.find_or_create_by(id: session[:guest_shopper_id] ||= SecureRandom.uuid)
  else
    Marketplace::Shopper.find_or_create_by(person: current_person)
end %>

<%- cart = marketplace.carts.find_or_create_by(shopper: shopper, status: :pre_checkout) %>

<%= render cart %>

<div class="m-2 text-center">
  <%- if policy(marketplace).edit? %>
    <%= link_to t('marketplace.marketplace.edit'), marketplace.location(:edit) %>
  <%- end %>

  <%- if policy(marketplace.orders).index? %>
  <%= link_to t('marketplace.order.index'), marketplace.location(child: :orders) %>
  <%- end %>
</div>
