<%- if @disabled %>
  <span class="<%= classes %>"><%= @label %></span>
<%- else %>
  <%= link_to @label,
              @href,
              title: @title,
              method: @method,
              data: data,
              class: classes %>
<%- end %>
