<%- if @disabled %>
  <span class="no-underline bg-transparent hover:bg-primary-100 text-gray-700 button #{classes}"><%= @label %></span>
<%- else %>
  <%= link_to @label,
              @href,
              title: @title,
              method: @method,
              data: data,
              class: "no-underline bg-transparent hover:bg-primary-100 text-gray-700 button #{classes}" %>
<%- end %>
