<div>
  <% unless @skip_label %>
    <%= @form.label @attribute %>
  <% end %>
  <%= @form.select @attribute, @choices, @options, @html_options %>
  <%= render partial: "error", locals: { model: @form.object, attribute: @attribute } %>
</div>
