@layer components {
  body > footer {
    @apply flex items-center justify-between px-2 py-2 bg-primary-900 text-white;

    .branding {
      .tagline {
        @apply hidden;
        @screen sm {
          @apply inline;
        }
      }
    }
  }
}
