@layer components {
  fieldset {
    @apply bg-white shadow rounded-lg p-2 mt-2;

    legend {
      @apply text-lg leading-6 font-medium text-neutral-900;
    }
  }

  form {
    div {
      @apply mb-2;
    }
    label,
    input,
    select,
    textarea {
      @apply block w-full;
    }
    label {
      @apply text-sm font-medium leading-5 text-neutral-700;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    select,
    textarea {
      @apply py-2 px-4
        rounded-lg border border-neutral-300 bg-white
        transition duration-150 ease-in-out;
      @screen sm {
        @apply text-sm leading-5;
      }
    }
    input {
      @apply appearance-none;
    }

    textarea {
      @apply h-24;
    }
    select:focus,
    textarea:focus,
    input:focus {
      @apply outline-none shadow-outline;
    }
    select:disabled,
    textarea:disabled,
    input:disabled {
      @apply bg-neutral-200;
    }
    .error-message {
      @apply mt-1 px-4 italic text-red-500;
    }

    footer {
      @apply flex flex-col justify-between;

      @screen sm {
        @apply flex-row;
      }

      > * {
        @apply flex-1 items-center mt-4;
        @screen sm {
          @apply  mr-4;
        }

        &:last-child {
          @apply mr-0;
        }
      }
    }
  }
}

.access-code-form {
  @apply m-auto flex flex-col;
}
.access-code-form__input {
  @apply mt-4;
}
.access-code-form__input--error {
  @apply border border-red-500;
}
.access-code-form__message {
  @apply hidden;
}
.access-code-form__error-message {
  @apply text-xs italic font-hairline text-red-500;
}
.access-code-form__submit {
  @apply mt-4;
}

.identification-form {
  @apply w-full;
  @screen sm {
    @apply w-1/2;
  }
}
