@layer components {
  body > header {
    @apply flex justify-between px-2 py-2 bg-primary-900 text-white;


    .profile-menu {
      @apply flex flex-row relative;
      :first-child { @apply pr-0; }
      > * { @apply px-2 }
    }
  }

  .flash-message {
    @apply px-4 py-4;

    &.--notice {
      @apply bg-primary-100 text-primary-900;
    }

    &.--alert {
      @apply bg-danger-100 text-danger-900;
    }
  }
}
