<%
  marketplace = cart.marketplace
  room = marketplace.room
  space = room.space
%>

<tfoot id="cart-footer-<%= cart.id%>" class="bg-gray-50">
  <tr>
    <td class="px-3 py-3.5 text-right" colspan="8">
      <%= render "marketplace/carts/total", cart: cart %>
      <%- if cart.ready_for_checkout? %>
        <%= button_to("Checkout", cart.location(child: :checkout), data: { turbo: false }) %>
      <%- end %>
    </td>
  </tr>
  <tr>
    <td class="px-3 pb-3.5 text-right" colspan="8">
      <%= render cart.delivery %>
    </td>
  </tr>
</tfoot>
