<tfoot id="cart-footer-<%= cart.id%>" class="bg-gray-50">
  <tr>
    <td></td>
    <th scope="row" class="text-right px-1 py-3.5">Total: </th>
    <td class="text-left px-3 py-3.5 font-bold">
      <%= humanized_money_with_symbol(cart.price_total) %>
    </td>
  </tr>
</tfoot
