<div
  data-controller="video-bridge"
  data-video-bridge-target="wrapper"
  data-video-bridge-video-host="<%= room.video_host %>"
  data-video-bridge-name="<%= room.full_slug %>">
</div>


<script defer src='https://<%= current_space.jitsi_meet_domain %>/external_api.js'></script>
<%= javascript_include_tag "furniture_video_bridge", "data-turbo-track": "reload", defer: true %>