
<div data-furniture-kind="livestream" data-provider="<%=furniture.provider%>" class="w-full aspect-video">
  <div id="twitch-embed"></div>

  <%- if furniture.provider == 'twitch' %>
    <!-- Load the Twitch embed JavaScript file -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: '100%',
        height: '100%',
        channel: '<%= furniture.channel %>',
        layout: '<%= furniture.layout %>',
      });
    </script>

  <%- elsif furniture.provider == 'owncast' %>
    <iframe
      src="<%= furniture.channel %>"
      title="Owncast"
      height="100%" width="100%"
      referrerpolicy="origin"
      scrolling="no"
      allowfullscreen>
    </iframe>
<%- end %>
</div>