<li class="col-span-1 bg-white rounded-lg shadow mb-4 <%= "--#{room.access_level}" %>" id="<%= room.name %>">
  <div class="w-full flex items-center justify-between p-6 space-x-6">
    <div class="flex-1 truncate">
      <div class="flex items-center space-x-3">
        <h3 class="text-gray-900 text-sm leading-5 font-medium truncate"><%= room.name %></h3>
        <span class="flex-shrink-0 inline-block px-2 py-0.5 text-teal-800 text-xs leading-4 font-medium bg-teal-100 rounded-full">Available</span>
      </div>
    </div>
  </div>
  <div class="border-t border-gray-200">
    <div class="-mt-px flex">
      <div class="-ml-px w-0 flex-1 flex">
        <%= link_to workspace_room_path(room.workspace, room), { class: "relative w-0 flex-1 inline-flex items-center justify-center py-4 text-sm leading-5 text-gray-700 font-medium border border-transparent rounded-br-lg hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 transition ease-in-out duration-150" } do %>
          <svg class="w-5 h-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
          </svg>
          <span class="ml-3">Enter Room</span>
        <% end %>
      </div>
    </div>
  </div>
</li>
