<div class="room-card">
  <header>
    <h3><%= room.name %></h3>
    <%- if room.locked? %>
      <i class="fas fa-lock"></i>
    <%- end %>
    <%- if room.locked? && room.enterable?(current_access_code) %>
      <i class="fas fa-key"></i>
    <%- end %>
  </header>
  <footer>
    <div class="room-door_enter">
      <%= link_to workspace_room_path(room.workspace, room) do %>
        <i class="fas fa-phone-alt"></i>
        <span>Enter Room</span>
      <% end %>
    </div>
  </footer>
</div>
