<div
  id="meet"
  data-controller="video-room"
  data-target="video-room.wrapper"
  data-video-room-video-host="<%= @workspace.jitsi_meet_domain %>"
  class="bg-gray-800"
>
</div>

<div class="p-6">
  <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <% @workspace.rooms.accessable_by(current_person).each do |room| %>
      <%= render partial: 'workspaces/room_card', locals: { room: room } %>
    <% end %>
  </ul>
</div>
