<div
  id="meet"
  data-controller="video-room"
  data-target="video-room.wrapper"
  data-action="connectVideo@document->video-room#connectVideoRoom closeVideoRoom@document->video-room#collapseVideoRoom"
  class="bg-gray-800"
>
</div>

<div class="p-6">
  <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <% @workspace.rooms.each do |room| %>
      <%= render partial: 'workspaces/room_card', locals: { room: room } %>
    <% end %>
  </ul>
</div>
