  <header class="header">
    <div class="item-container">
      <div class="item-title text-2xl">
        <%= current_workspace.client.name %>
      </div>
      <div class="item-title text-sm">
        <div><%= current_workspace.name %></div>
        <div class="item-subtitle">video meeting spaces</div>
      </div>
    </div>
  </header>
  