  <header class="header">
    <div class="items-container">
      <h1><%= current_workspace.name %></h1>
      <div>
        <h3>Convene</h3>
        <h3 class="font-hairline">video meeting spaces</h3>
      </div>
    </div>
  </header>
