<fieldset>
  <h3>People & Permissions</h3>
  <ul>
    <li><%= link_to t('memberships.heading'), [space, :memberships] %></li>
    <li><%= link_to t('invitations.heading'), [space, :invitations] %></li>
  </ul>
</fieldset>
