<% breadcrumb :root %>

<%- if space.entrance.present? %>
  <%= render space.entrance&.furniture_placements %>
<%- end %>


<div class="space-container card-list">
  <% policy_scope(space.rooms.listed).each do |room| %>
    <%= render partial: 'spaces/room_card', locals: { room: room } %>
  <% end %>
</div>