@layer components {
  form {
    legend {
      @apply text-lg leading-6 font-medium text-gray-900;
    }
    label, input, select {
      @apply block w-full;
    }
    label {
      @apply text-sm font-medium leading-5 text-gray-700 mt-4;
    }
    input, select {
      @apply mt-1 py-2 px-4
        rounded-lg border border-gray-300 bg-white
        transition duration-150 ease-in-out;
      @screen sm {
        @apply text-sm leading-5;
      }
    }
    input {
      @apply appearance-none;
    }
    input:focus {
      @apply outline-none shadow-outline;
    }
    input:disabled {
      @apply bg-gray-200;
    }
    .error-message {
      @apply mt-1 px-4 italic text-red-500;
    }

    footer {
      @apply mt-5 flex flex-row-reverse justify-evenly;

      a {
        @apply inline-flex items-center px-4 py-2 border border-transparent font-medium rounded-md bg-white transition ease-in-out duration-150
      }

      input[type=submit] {
        @apply w-auto px-4 py-2 inline-flex items-center border
          border-transparent font-medium rounded-md text-gray-700 bg-gray-100
          transition ease-in-out duration-150;
        &:hover {
          @apply bg-gray-50;
        }
        &:active {
          @apply bg-gray-200;
        }
        &:focus {
          @apply outline-none border-gray-300 shadow-outline-gray;
        }
        @screen sm {
          @apply text-sm leading-5;
        }
      }
    }
  }
}

.access-code-form {
  @apply m-auto flex flex-col;
}
.access-code-form__input {
  @apply mt-4;
}
.access-code-form__input--error {
  @apply border border-red-500;
}
.access-code-form__message {
  @apply hidden;
}
.access-code-form__error-message {
  @apply text-xs italic font-hairline text-red-500;
}
.access-code-form__submit {
  @apply mt-4;
}

.identification-form {
  @apply w-full;
  @screen sm {
    @apply w-1/2;
  }
}
.identification-form__submit {
  @apply mt-6;
  @screen sm {
    @apply w-2/5 mx-auto
  }
}