@layer components {
  .header {
    .space-menu {
      @apply flex items-center justify-between px-4 py-3 bg-purple-900 text-white;

      h1 {
        @apply text-2xl font-bold flex-grow;
      }

      .profile-menu {
        @apply flex flex-row items-center relative;
        figcaption {
          @apply font-hairline text-center text-xs;
        }
        nav {
          @apply absolute bg-purple-600 px-4 py-1 shadow;
        }
      }

      h3 {
        @apply text-sm font-bold;
      }
    }
  }
}
