<%= render AlertComponent.new(title: "Where are you Ordering from?") do %>
  <p>Delivery prices and times vary based upon your location</p>
<%- end %>
<div class="mt-2 w-full">
  <%= form_with model: cart.location, url: cart.location(child: :delivery_area), data: { turbo_frame: dom_id(cart.marketplace) }  do |form| %>
    <%= render SelectComponent.new({
      choices: cart.marketplace.delivery_areas.unarchived.pluck(:label, :id), attribute: :delivery_area_id,
      form: form,
    }) %>
    <%= form.submit "Save" %>
  <%- end %>
</div>
