<% breadcrumb :edit_room, room %>

<%= render partial: 'form', locals: { room: room } %>

<fieldset>
  <h3>Furniture</h3>
  <%- room.furniture_placements.each do |furniture_placement| %>
    <% if policy(furniture_placement).edit? %>
      <%= form_with(model: furniture_placement, url: space_room_furniture_placement_path(room.space, room, furniture_placement), local: true) do |furniture_placement_form| %>
        <%= render partial: "furniture_placements/form", locals: { form: furniture_placement_form, furniture_placement: furniture_placement } %>
      <% end %>
    <%- elsif policy(furniture_placement).show? %>
      <header>
        <h4>
          <%= furniture_placement.furniture.model_name.human.titleize %>
        </h4>
      </header>
    <%- end %>
  <% end %>
</fieldset>
