<div
  id="meet"
  data-controller="video-room"
  data-target="video-room.wrapper"
  data-video-room-video-host="<%= current_workspace.jitsi_meet_domain %>"
  data-video-room-name="<%= video_room_name(current_workspace, current_room) %>"
  data-video-room-workspace-path="<%= end_call_path(current_workspace) %>"
  class="bg-gray-800"
>
</div>

<div class="px-6 pt-3">
  <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <% current_workspace.rooms.accessable_by(current_person).each do |room| %>
      <%= render partial: 'workspaces/room_card', locals: { room: room } %>
    <% end %>
  </ul>
</div>
