<div class="bg-blue-100 min-h-screen flex items-center justify-between">
  <div class="m-auto">
    <div class="bg-blue-500 text-white font-extrabold px-8 py-4 rounded">
      <%= current_room.name %>
      <i class="fas fa-user ml-4"></i>
    </div>
  </div>
    <%= form_tag(workspace_room_path(current_room.workspace, current_room), method: :get, class: "m-auto flex flex-col") do %>
      <%= password_field_tag('access_code', nil, placeholder: "Access Code", class: "mt-4") %>
      <%= submit_tag("Submit", class: "button button-blue mt-4") %>
    <% end %>
</div>
