<div class="bg-blue-100 min-h-screen flex items-center justify-between">
  <div class="m-auto">
    <div class="bg-blue-500 text-white font-extrabold px-8 py-4 rounded">
      <%= @current_room.name %>
      <i class="fas fa-user ml-4"></i>
    </div>
  </div>
  <div class="m-auto flex flex-col">
    <input class="input mt-4" type="password" placeholder="Access Code">
    <button class="btn btn-blue mt-4">
      Submit
    </button>
  </div>
</div>
