<% breadcrumb :guides %>
<h1><%=t('guides.title')%></h1>
<%- guides.each do |guide| %>
<section class="card-list">
  <article class="guide-summary">
    <header>
      <h2>
        <%= t("guides.#{guide.slug}.title") %>
      </h2>
      <p>
        <%= t("guides.#{guide.slug}.value_proposition") %>
      </p>
    </header>

    <footer>
      <%= link_to(t('guides.call_to_action'), guide) %>
    </footer>
  </article>
</section>
<% end %>