<h3><%= name %></h3>
<%- if servings.present? %>
  <p class="text-sm">Serves <%= servings %></p>
<%- end %>

<%- if product.tags.present? %>
  <p>(<%= product.tags.pluck(:label).join(", ") %>)</p>
<%- end %>
