<h1>TODO: Replace this with a custom strategy _or_ an Omniauth One-Time-Password strategy? Not really sure.</h1>
<%= link_to "Login via Developer", '/auth/developer', method: :post %>
<%= link_to "Login via OTP", '/auth/onetime', method: :post %>
