
<%= render Journal::NewEntryButtonComponent.new(journal: journal) %>

<div class="flex flex-wrap">
  <%- @pagy, @entries = pagy(policy_scope(journal.entries.recent)) %>

  <%= render Journal::EntryComponent.with_collection(@entries) %>
</div>

<%== pagy_nav(@pagy) %>

<%= render Journal::NewEntryButtonComponent.new(journal: journal) %>
