<section class="max-w-3xl mx-auto">
  <%- if policy(new_entry).new? %>
    <div class="text-center p-2">
      <%= link_to "New Journal Entry", journal.location(:new, child: :entry) %>
    </div>
  <%- end %>

  <div class="flex flex-wrap">
    <%- @pagy, @records = pagy(policy_scope(journal.entries.recent)) %>

    <%= render @records %>
  </div>

  <%== pagy_nav(@pagy, nav_extra: 'flex justify-between') %>

  <%- new_entry = journal.entries.new %>
  <%- if policy(new_entry).new? %>
    <footer class="text-center p-2">
      <%= link_to "New Journal Entry", journal.location(:new, child: :entry) %>
    </footer>
  <%- end %>
</section>
