<div class="center-container">
  <%# This form is different from Rails form builder because it's from Passwordless %>
  <%= form_for @session, url: send(Passwordless.mounted_as).sign_in_path do |f| %>
    <% email_field_name = :"passwordless[#{@email_field}]" %>
    <%= label_tag I18n.t('passwordless.sessions.new.email_label') %>
    <%= text_field_tag email_field_name, params.fetch(email_field_name, nil) %>
    <%= f.submit I18n.t('passwordless.sessions.new.submit'), class: "button-gray" %>
  <% end %>
</div>>
