
<div
  id="meet"
  data-controller="video-room"
  data-target="video-room.wrapper"
  data-video-room-video-host="<%= table.video_host %>"
  data-video-room-name="<%= table.full_slug %>"
  data-video-room-workspace-path="<%= workspace_room_path(table.room.workspace, table.room) %>"
  class="bg-neutral-800"
>
</div>
