---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/item/public_token/exchange
    body:
      encoding: UTF-8
      string: '{"public_token":"public-sandbox-14ee4677-e0ad-4ec0-8323-051af5ebfc67"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - 602dc9bffec85e0011852119
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - 296b131b29e4e5b2ea0f45d159e7b7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "access-sandbox-f05e31e3-4c78-45da-b50d-68d425fc1647",
          "item_id": "r36L6N3b9ntvjD76mMZNivVqlNGaJ9tlBZq6m",
          "request_id": "sfPiEVocStSVtmt"
        }
  recorded_at: Thu, 13 Jan 2022 03:14:54 GMT
recorded_with: VCR 6.0.0
