<%- breadcrumb(:marketplace_delivery_areas, marketplace) %>

<section class="mt-3">
  <main>
    <div class="grid grid-cols-1 gap-3 sm:gap-5 sm:grid-cols-3">
      <%= render Marketplace::DeliveryAreaComponent.with_collection(delivery_areas) %>
    </div>
  </main>

  <footer class="text-center">
    <%= link_to(t("marketplace.delivery_areas.new"), marketplace.location(:new, child: :delivery_area)) %>
  </footer>
</section>