<%- breadcrumb(:marketplace_delivery_areas, marketplace) %>
<section class="mt-3">
  <main>
    <div class="grid grid-cols-1 gap-3 sm:gap-5 sm:grid-cols-3">
      <%- if params[:archive] %>
        <%= render Marketplace::DeliveryAreaComponent.with_collection(delivery_areas.archived) %>
      <%- else %>
        <%= render Marketplace::DeliveryAreaComponent.with_collection(delivery_areas.unarchived) %>
      <%- end %>
    </div>
  </main>

  <div class="text-center mt-3">
    <%- new_delivery_area = marketplace.delivery_areas.new %>
    <%- if policy(new_delivery_area).create? && !params[:archive] %>
      <%= render ButtonComponent.new(
        label: "#{t('marketplace.delivery_areas.new.link_to')} #{t('icons.new')}",
        title: t('marketplace.delivery_areas.new.link_to'),
        href: marketplace.location(:new, child: :delivery_area),
        method: :get,
        scheme: :secondary) %>
    <%- end %>
  </div>
  <div class="text-center mt-3">
    <%= render Marketplace::Archivable::IndexLinkComponent.new(marketplace: marketplace, resource: :delivery_areas, to_archive: !params[:archive]) %>
  </div>
</section>
