<%- breadcrumb :new_delivery_area, delivery_area %>
<%= render Marketplace::ManagementComponent.new(marketplace: marketplace) do %>
  <div class="mt-3">
    <%= render "form", delivery_area: delivery_area %>
  </div>
<%- end %>
