<div>
  <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <% room_names = ['ada', 'talk-to-zee', 'talk-to-tom', 'weekly-meet'] %>
    <% room_names.each do |room_name| %>
      <%= render partial: 'lobbies/room_card', locals: { room_name: room_name } %>
    <% end %>
  </ul>
</div>

<div id="meet"></div>
