<div id="<%=dom_id(delivery) %>" class="flex flex-wrap items-center justify-between text-sm mt-1 sm:mt-2">
  <span>
    <span class="font-bold">Delivering to:</span>
    <%= render(delivery.delivery_area) if delivery.delivery_area.present? %>
  </span>

  <%= render ButtonComponent.new(
        label: t("marketplace.cart.deliveries.edit.link_to"),
        href: delivery.location(:edit),
        method: :get,
        turbo_stream: true,
        scheme: :secondary,
      ) %>
</div>
