<div id="<%=dom_id(delivery) %>">
  <div class="flex justify-between flex-wrap">
    <div class="flex items-center justify-between text-sm">
      <span>Delivering to:</span>
      <%= render(delivery.delivery_area) if delivery.delivery_area.present? %>
      <%= render Marketplace::Cart::Delivery::EditButtonComponent.new(delivery) %>
    </div>
  </div>
</div>
