<div class="flex flex-col content-between justify-end mx-auto max-w-7xl sm:px-6 lg:px-8">
  <div class="grow mx-auto w-full">
    <section id="furnitures">
      <%= render room.gizmos.rank(:slot) %>
    </section>
  </div>

  <div class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4 items-center">
    <% policy_scope(room.space.rooms).each do |room| %>
      <%= render partial: 'spaces/room_card', locals: { room: room } %>
    <% end %>
  </div>
</div>
