<div class="flex flex-col content-between justify-end">
  <div class="grow <%= editing? ? 'max-w-3xl' : '' %> mx-auto w-full">
    <%- if editing? %>
      <%- new_furniture_placement = room.furniture_placements.new %>

      <%- if policy(new_furniture_placement).new? %>
        <%= render "furniture_placements/new", furniture_placement: new_furniture_placement %>

      <%- end %>
    <%- end %>

    <section id="furniture_placements">
      <%= render room.furniture_placements.rank(:slot) %>
    </section>
  </div>

  <div class="px-6 pt-3">
    <ul class="mt-3 grid grid-cols-1 gap-5 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4">
      <% policy_scope(current_space.rooms.listed).each do |room| %>
        <%= render partial: 'spaces/room_card', locals: { room: room } %>
      <% end %>
    </ul>
  </div>
</div>

