<% breadcrumb :edit_room, room %>

<%= render partial: 'form', locals: { room: room } %>


<section id="furnitures">
  <%= render room.furnitures.rank(:slot), editing: true %>
</section>

<%- new_furniture = room.furnitures.new %>

<%- if policy(new_furniture).new? %>
  <%= render "furnitures/new", furniture: new_furniture %>

<%- end %>
