/* @todo DELETE ME */
@layer components {
  [type="reset"],
  [type="button"],
  [type="submit"],
  button,
  .button {
    @apply font-bold py-2 px-4 rounded bg-stone-500 text-white text-center transition ease-in-out duration-150;

    &:hover {
      @apply bg-stone-400;
    }
    &:active {
      @apply bg-stone-200;
    }

    &:focus {
      @apply outline-none border-gray-300  ring-gray-500;
    }

    &.--danger {
      @apply bg-red-500;
      &:hover {
        @apply bg-red-700;
      }
      &:active {
        @apply bg-red-200;
      }
    }

    &.--neutral {
      @apply bg-gray-500;
      &:hover {
        @apply bg-gray-700;
      }
      &:active {
        @apply bg-gray-200;
      }
    }
  }
}
