@layer components {
  fieldset {
    @apply bg-white shadow rounded-lg p-2 mt-2;

    legend {
      @apply text-lg leading-6 font-medium text-gray-900;
    }
  }

  form {
    @apply inline;
    div {
      @apply mb-3;
    }

    label,
    select,
    textarea {
      @apply block w-full;
    }

    label {
      @apply font-medium text-sm leading-6 text-gray-700 mb-1;
    }

    input[type="email"],
    input[type="datetime-local"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="url"],
    select,
    textarea {
      @apply py-2 px-4
        rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset
        ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset
        focus:ring-orange-300;

      @screen sm {
        @apply leading-6 text-sm;
      }

      @apply block w-full;
    }
    input {
      @apply appearance-none;
    }

    .field_with_errors {
      input[type="email"],
      input[type="datetime-local"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="url"],
      select,
      textarea {
        @apply border-red-300 bg-red-100;
      }
    }

    textarea {
      @apply h-24;
    }
    select:focus,
    textarea:focus,
    input:focus {
      @apply outline-none ring;
    }
    select:disabled,
    textarea:disabled,
    input:disabled {
      @apply bg-gray-200;
    }
    .field_with_errors {
      @apply text-red-500;
    }

    footer {
      @apply flex flex-col justify-between;

      @screen sm {
        @apply flex-row;
      }

      > * {
        @apply flex-1 self-end mt-4;
        @screen sm {
          @apply mr-4;
        }

        &:last-child {
          @apply mr-0;
        }
      }
    }
  }
}
