<div
  id="meet"
  data-controller="video-room"
  data-target="video-room.wrapper"
  data-video-room-video-host="<%= room.video_host %>"
  data-video-room-name="<%= room.full_slug %>"
  data-video-room-space-path="<%= space_path(room.space) %>">
</div>
