<% breadcrumb :utility_hookups, space %>

<h2>Utility Hookups</h2>


<%- utility_hookups.each do |utility_hookup| %>
  <fieldset>
  <%- if policy(utility_hookup).edit? %>
    <%= render partial: "utility_hookups/form", locals: { utility_hookup: utility_hookup } %>
  <% end %>
  </fieldset>
<% end %>