---
http_interactions:
- request:
    method: post
    uri: https://sandbox.plaid.com/auth/get
    body:
      encoding: UTF-8
      string: '{"access_token":"access-sandbox-f05e31e3-4c78-45da-b50d-68d425fc1647"}'
    headers:
      Content-Type:
      - application/json
      Plaid-Client-Id:
      - 602dc9bffec85e0011852119
      Plaid-Version:
      - '2020-09-14'
      Plaid-Secret:
      - 296b131b29e4e5b2ea0f45d159e7b7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Plaid-Version:
      - '2020-09-14'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "accounts": [
            {
              "account_id": "WdBoBqdrzDtjQ8dmv36afqyNdWMPjEtlvKbbA",
              "balances": {
                "available": 100,
                "current": 110,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "0000",
              "name": "Plaid Checking",
              "official_name": "Plaid Gold Standard 0% Interest Checking",
              "subtype": "checking",
              "type": "depository"
            },
            {
              "account_id": "AeoloyejpECoJ5aM48A3UpLKEANXPBC1yEppb",
              "balances": {
                "available": 200,
                "current": 210,
                "iso_currency_code": "USD",
                "limit": null,
                "unofficial_currency_code": null
              },
              "mask": "1111",
              "name": "Plaid Saving",
              "official_name": "Plaid Silver Standard 0.1% Interest Saving",
        [...]
