<%- if current_space.present? %>
  <div>
    <%- if policy(current_space).edit? %>
      <%= link_to [:edit, current_space], class: "no-underline", aria: { label: "Configure Space" }, role: "img" do -%>
        <%= render SvgComponent.new(icon: :gear, classes: "h-5 w-5 inline") %>
      <%- end %>
    <%- end %>
    <%= breadcrumbs container_tag: 'nav', fragment_class: 'crumb', separator: " &rsaquo; ", semantic: true, display_single_fragment: true %>
  </div>
<%- end %>
