<%# expects locals: :label, :url%>
<a href="<%= url %>" class="border-primary-500 text-primary-600 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
  <span>
    <%= label %>
  </span>
</a>
