<%= form.label attribute %>
<div class="space-y-4 flex items-center sm:flex sm:items-center sm:space-x-10 sm:space-y-0">
  <%- options.each do |option| %>
    <div class="flex items-center mb-0">
      <%= form.radio_button attribute, option,
          class: "h-4 w-4 border-gray-300 text-stone-500 focus:ring-stone-600" %>
      <%= form.label attribute, option, value: option,
          class: "ml-3 block text-sm leading-6 text-gray-900" %>
    </div>
  <%- end %>
</div>
