name: Deploy

on:
  push:
    branches:
      - master

# Uses https://github.com/AkhileshNS/heroku-deploy to deploy to Heroku
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "convene-zinc-coop"
          heroku_email: "ana@ulin.org"
