name: Test Heroku Review App
on:
  deployment_status

jobs:
  system_test_heroku_review_app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set Subdomain
        id: set_subdomain
        env:
          TARGET_URL: ${{ github.event.deployment_status.target_url }}
        run: |
          echo TARGET_URL: $TARGET_URL
          SUBDOMAIN=$( echo $TARGET_URL | awk -F/ '{print $5}' )
          echo setting SUBDOMAIN: $SUBDOMAIN
          echo "::set-env name=SUBDOMAIN::"$SUBDOMAIN""


      - name: Install dependencies
        run: npm i

      - name: System Test convene-web
        run: |
          echo Running system test with APP_URL and CUSTOM_DOMAIN, SUBDOMAIN=$SUBDOMAIN
          APP_URL="https://"$SUBDOMAIN".herokuapp.com"
          # To warm up Heroku review app
          curl $APP_URL 1> /dev/null
          APP_URL=$APP_URL CUSTOM_DOMAIN="https://"$SUBDOMAIN".zinc.coop" npm test
