<div id="new_furniture">
  <h3><%= t('rooms.place_furniture_heading') %></h3>
  <%= form_with model: furniture.location do | form | %>
    <%= render SelectComponent.new({
      choices: Furniture.registry.keys.map { |k| [k.to_s.titleize, k] },
      attribute: :furniture_kind,
      form: form,
      options: {
        prompt: "-- Pick a type of gizmo --",
      }
    }) %>
    <footer>
      <%= form.submit %>
    </footer>
  <%- end %>
</div>
